:root {
    --color3: #ecfc95;
    /*#4ed3aa */
    ;
    --color1: #787e17;
    /* #fefef3*/
    ;
    --color2: #1d187e;
    /*#270f69*/
    ;
    --color4: #f43444;

    --primary: #93ffe9;
    --primary-1: #abffff;
    --primary-2: #c4ffff;
    --primary-3: #dcffff;
    --primary-4: #f4ffff;

    --secondary: #ea93ff;
    --secondary-1: #ffacff;
    --secondary-2: #ffc4ff;
    --secondary-3: #ffddff;
    --secondary-4: #fff5ff;

    --foreground: #20014c;
    --foreground-1: #250159;
    --foreground-2: #2b0165;
    --foreground-3: #300172;
    --foreground-4: #35027e;

    --background: #dec6ac;
    --background-1: #ffe7c8;
    --background-2: #ffffe5;
    --background-3: #ffffff;
    --background-4: #ffffff;

    --text: #ffffff;
    --warning: #ffc107;
    --danger: #dc3545;
    --success: #28a745;
    --info: #14bdbd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#app {
    height: 100%;
    width: 100%;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}