:root {
    --color3: #ecfc95;
        /*#4ed3aa */
    ;
    --color1: #787e17;
        /* #fefef3*/
    ;
    --color2: #1d187e;
        /*#270f69*/
    ;
    --color4: #f43444;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#app {
    height: 100%;
    width: 100%;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}